@tailwind base;

@layer base {
	body {
		@apply font-karla text-base font-normal text-dark-he dark:text-light-he;
	}
	h1 {
		@apply font-montserrat text-h1-mobile font-semibold lg:text-h1;
	}
	h2 {
		@apply font-montserrat text-h2-mobile font-semibold lg:text-h2;
	}
	h3 {
		@apply font-montserrat text-h3-mobile font-bold lg:text-h3;
	}
	h4 {
		@apply font-montserrat text-h4-mobile font-bold lg:text-h4;
	}
	h5 {
		@apply font-montserrat text-h5-mobile font-bold lg:text-h5;
	}
	p {
		@apply text-base;
	}
	button {
		@apply font-medium;
	}
}

@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply relative inline-flex h-max w-max min-w-[max(4rem,max-content)] cursor-pointer items-center justify-center rounded py-2 px-4 text-button font-medium text-light-he outline-none outline outline-2 outline-offset-4 transition-all;
	}

	.btn-primary {
		@apply bg-primary-500 outline-primary-500/0 hover:bg-primary-400 focus:outline-primary-500 active:bg-primary-600 active:outline-primary-500/0;
	}

	.btn-secondary {
		@apply bg-secondary-500 outline-secondary-500/0 hover:bg-secondary-400 focus:outline-secondary-500 active:bg-secondary-600 active:outline-secondary-500/0;
	}

	.btn-success {
		@apply bg-success-500 outline-success-500/0 hover:bg-success-400 focus:outline-success-500 active:bg-success-600 active:outline-success-500/0;
	}

	.btn-error {
		@apply bg-error-500 outline-error-500/0 hover:bg-error-400 focus:outline-error-500 active:bg-error-600 active:outline-error-500/0;
	}

	.btn-gray {
		@apply bg-gray-500 outline-gray-500/0 hover:bg-gray-400 focus:outline-gray-500 active:bg-gray-600 active:outline-gray-500/0;
	}
}

@layer utilities {
	.clickable {
		@apply border transition;
	}

	.unclickable {
		@apply cursor-default text-dark-me;
	}

	.clickable.unselected {
		@apply cursor-pointer border-transparent text-dark-me hover:border-cyan-100 hover:bg-cyan-50;
	}

	.clickable.selected {
		@apply cursor-default border-cyan-500 text-cyan-500;
	}

	.kerning {
		font-kerning: auto;
	}
	.kerning-normal {
		font-kerning: normal;
	}
	.kerning-none {
		font-kerning: none;
	}
}

::-webkit-scrollbar {
	display: none;
}
